@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 100% 96%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 0 72% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 22 80% 34%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 50% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 36 100% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 50% 90%;
    --input: 0 50% 90%;
    --ring: 0 72% 51%;
    --radius: 0.75rem;
  }
}

@layer base {
  * { @apply border-border; }
  body {
    @apply bg-background text-foreground font-body;
    -webkit-font-smoothing: antialiased;
  }
  h1, h2, h3, h4 { @apply font-heading; }
}
